<div class="select" class="dropdown-menu">
    <select id="dropdown-options">
        <option class="ammo-drop-rate">
            Ammo Drop Rate
        </option>
        <option class="repair-drop-rate">
            Repair Drop Rate
        </option>
        <option class="supply-drop-rate">
            Supply Drop Rate
        </option>
        <option class="ammo-drop-qual">
            Ammo Drop Quality
        </option>
        <option class="repair-drop-qual">
            Repair Drop Quality
        </option>
        <option class="supply-luck">
            Supply Luck
        </option>
        <option class="harvest-bonus">
            Harvest Bonus
        </option>
        <option class="pickup-radius">
            Pickup Radius
        </option>
        <option class="thruster-life">
            Thruster Life
        </option>
        <option class="thruster-speed">
            Thruster Speed
        </option>
        <option class="overheat-delay">
            Overheat Delay
        </option>
        <option class="fire-resist">
            Fire Resist
        </option>
        <option class="ice-resist">
            Ice Resist
        </option>
        <option class="elec-resist">
            Electric Resist
        </option>
        <option class="armor-dmg-resist">
            Armor Damage Resist
        </option>
        <option class="armor-max">
            Armor Max
        </option>
        <option class="shield-max">
            Shield Max
        </option>
        <option class="shield-delay">
            Shield Delay
        </option>
        <option class="shield-refresh">
            Shield Refresh
        </option>
        <option class="kb1-dmg">
            Keybind 1 Damage
        </option>
        <option class="kb2-dmg">
            Keybind 2 Damage
        </option>
        <option class="kb1-speed">
            Keybind 1 Speed
        </option>
        <option class="kb2-speed">
            Keybind 2 Speed
        </option>
        <option class="gear-dmg">
            Gear Damage
        </option>
        <option class="gear-speed">
            Gear Speed
        </option>
        <option class="ult-dmg">
            Ultimate Damage
        </option>
        <option class="ult-speed">
            Ultimate Speed
        </option>
        <option class="melee">
            Melee
        </option>
        <option class="combo-dmg">
            Combo Damage
        </option>
        <option class="combo-targets">
            Combo Targets
        </option>
        <option class="crit-dmg">
            Critical Damage
        </option>
        <option class="support-speed">
            Support Speed
        </option>
        <option class="elem-dmg">
            Elemental Damage
        </option>
        <option class="dmg">
            Damage
        </option>
        <option class="force">
            Force
        </option>
        <option class="effect">
            Effect
        </option>
        <option class="ice-effect">
            Ice Effect
        </option>
        <option class="fire-effect">
            Fire Effect
        </option>
        <option class="electric-effect">
            Electric Effect
        </option>
        <option class="weap-dmg">
            Weapon Damage
        </option>
        <option class="weap-clip">
            Weapon Clip
        </option>
        <option class="weap-ammo">
            Weapon Ammo
        </option>
        <option class="weap-aim">
            Weapon Aim
        </option>
        <option class="weap-fire-rate">
            Weapon Fire Rate
        </option>
        <option class="weap-reload-time">
            Weapon Reload Time
        </option>
        <option class="weap-blast-dmg">
            Weapon Blast Damage
        </option>
        <option class="gear-symbol-dmg">
            Gear Symbol Damage (Pertains to the weapon itself)
        </option>
    </select>
</div>