<p class="title">Recharge</p>
<div class="field">
    <div class="control has-icons-left">
        <input class="input" type="text" placeholder="Recharge Value">
        <span class="icon is-left">
            <i class="fas fa-charging-station"></i>
        </span>
    </div>
</div>